<html>
<head>
	<title>yum-my-recipes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/images/food-logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/stylesheet.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="sticky-header">
		<a class="small-logo" href="home">
			<img src="/images/food-logo-small.png" class="home-button"/>
		</a>
		<form class="search" id="searchform" method="GET" role="form" action="/home">
			<input type="text" class="search-text" name="search" id="search" placeholder="Search"/>
			<button id="search-addon" type="submit" class="search-icon btn">
				<span class="search-icon1">
					<i class="fas fa-search icon-color"></i>
				</span>	
			</button>
		</form>
	</div>
	<div class="top-spacer">
	</div>
	{{#grouped_each 2 data}}
		<div class="row ourrow">
		{{#each this}}
			<div class="col-6 ourcol">
				<div class="cuisine {{#if_even @index}}left{{/if_even}}{{#if_odd @index}}right{{/if_odd}}">
					<a class="button" href="cuisine/{{id}}">
						<div class="container1">
							<img class="image" src={{img}} alt={{name}}>
							<div class="label">{{name}}</div>
							<!-- <div class="centered">{{name}}</div> -->
						</div>
					</a>
				</div>
			</div>
		{{/each}}
		</div>
	{{/grouped_each}}
	{{> navbar}}

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
</body>
</html>
