<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>yum-my-recipes</title>
	    <link rel="stylesheet" href="/css/stylesheet.css">
	    <link rel="icon" href="/images/food-logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <h1 class="title">Library Page</h1>
            {{#if empty}}
                <div class="emptySave">
                    <i class="emptyIcon fas fa-utensils"></i>
                    <h3>oops!</h3>
                    <p>You have no saved recipes, navigate to the home page to check out some new recipes</p>
                    <button onclick="window.location.href='/home'" type="button" class="btn btn-outline-secondary emptyButton">Home</button>
                </div>
            {{else}}
                {{#each recipes}}
                    <div class="recipe">
                        <a class="bigbutton" href="/recipe/{{id}}">
                            <div class="row recipe-block">
                                <div class="col-4 recipe-col">
                                    <img class="small-image" src="{{img}}" alt="">	
                                </div>
                                <div class="col-7 info recipe-col">
                                    <h4 class="recipe-title">{{name}}</h4>
                                    <p>{{time}} mins &middot {{calories}} calories</p>
                                    {{#for rating}}
                                        <i class="fas fa-star"></i>
                                    {{/for}}
                                </div>
                                <div class="col-1 recipe-col"> 
                                    <i class="fas fa-chevron-right icon-col"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            {{/if}}
        {{> navbar}}
        
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
    </body>
</html>