<html>
    <head>
        <title>List Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
	    <link rel="stylesheet" href="/css/stylesheet.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="backButton">
            <button onclick="window.location.href='/home'" type="button" class="btn btn-lg">
                <span style="font-size: 30px;">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
        </div>
        <h1 id="title" class="title">{{category}}</h1>
        <div class="input-group rounded search">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>

        {{#each data}}
            <div class="recipe-center">
                <div class="recipe">
                    <a class="bigbutton" href="/recipe/{{id}}">
                        <div class="row recipe-block">
                            <div class="col-4 recipe-col">
                                <img class="small-image" src="{{img}}" alt="">	
                            </div>
                            <div class="col-7 info recipe-col">
                                <h4>{{name}}</h4>
                                <p>{{time}} minutes
                                    <span style="font-size: 8px;">
                                        <i class="fas fa-circle"></i> 
                                    </span>
                                {{calories}} calories</p>
                                {{#for rating}}
                                    <i class="fas fa-star"></i>
                                {{/for}}
                            </div>
                            <div class="col-1 recipe-col"> 
                                <i class="fas fa-chevron-right icon-col"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {{/each}}

        {{> navbar}}
    </body>
</html>