<html>
    <head>
        <title>yum-my-recipes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href="/css/stylesheet.css">
	    <link rel="icon" href="/images/food-logo.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">     
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
        <script>
            $(document).ready(function() {
                $('#like').click(function(event) {
                    $.post(`/updatesavestatus/${this.name}`, {referrer: document.referrer}, () => {
                        $('#heart').toggleClass('saved');
                    })
                })
            });
        </script>
    </head>
    <body>
        <div class="backButton">
            <button onclick="location.replace(document.referrer)" type="button" class="btn btn-lg">
                <span class="arrow">
                    <i class="fas fa-arrow-left"></i>
                </span>
            </button>
        </div>
        <h1 class="title-recipe">{{recipe.name}}</h1>
        <div class="container2">
            <img src="{{recipe.img}}" alt="" class="recipeImage">
            <div class="label2">
                <div class="row">
                    <div class="col-12">
                        {{#for recipe.rating}}
                            <i class="fas fa-star"></i>
                        {{/for}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{recipe.time}} mins &middot {{recipe.calories}} calories &middot {{#for recipe.price}}${{/for}}</p>
                    </div>
                </div>
            </div>
            <div class="saveButton">
                <button class="btn btn-custom heartButton" name={{recipe.id}} id="like">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                        <i id="heart" class="fas fa-heart fa-stack-1x heart {{#if saved}}saved{{/if}}"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="instructions">
            <h3>Ingredients</h3>
            <h3>Instructions</h3>
            {{recipe.instructions}}
        </div>
        {{> navbar}}
    </body>
</html>